<div class="info">
    <h1 class="mb-4">{{title}}</h1>

    <div class="container">
        <div class="row justify-content-center mb-4">
            <img src={{photoUrl}} style="max-width: 800px;">
        </div>
        <div class="row">
            <p>{{text}}</p>
        </div>
    </div>
</div>